html {
  scroll-behavior: smooth;
}

.overlay {
  background-image: url("../img/banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
}

.btn-tarea {
  background-color: #5148a5;
  color: white;
  transition: all ease 0.2s;
}

.btn-tarea:hover {
  background-color: #413a83;
}

#barra {
  background-color: #5148a5;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 50;
}

.transparente {
  background-color: transparent;
  transition: all 0.2s ease;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: #5148a5;
  transition: all 0.2s ease;
}

#barra + #tarea-form {
  padding-top: 60px;
}

#tarea-form {
  padding: 45px 16px 16px 16px;
}

#barra a.navbar-brand,
a.nav-link,
#barra span {
  color: white !important;
}

section.tareas {
  padding: 15px;
}

.fixed a.navbar-brand {
  color: white !important;
  font-size: 1.5rem;
}

.fixed li a {
  color: white !important;
  transition: all 0.2s ease;
}

i {
  color: #6d6d6d;
  cursor: pointer;
  line-height: inherit !important;
  margin-left: 10px;
  transition: all ease 0.2s;
}

i.fa-check:hover {
  color: #28a745;
}

i.fa-pen:hover {
  color: #17a2b8;
}

i.fa-trash:hover {
  color: #dc3545;
}

.completada {
  color: #28a745;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #6d6d6d;
  margin: 2rem 0;
}

.fa-address-card {
  font-size: 4rem;
  color: #5148a5;
  margin-left: 0px;
}

.card {
  margin-bottom: 1rem !important;
}
